#input_image {
    height: 32px;
    width: 32px;
    margin-right: 50px;
}

#output_image {
    height: 100px;
    width: 100px;
    margin-left: 50px;
}

.Classifier {
    margin-top: 100px;
    display: inline-block;
    border: 1px;
}